/* ........HEADER......... */
*{
    margin: 0%;
    padding: 0px;
}
.profile {
    display: flex;
    height: 100x;
    justify-content: center;
    justify-items: center;
    padding: 0% ;
    background-image: url(./picture.JPG);
    color: rgb(162, 194, 194);
    background-size: cover;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section p {
    margin: 10px;
    font-size: 50px;
    font-weight: 800;
    padding: 50px;
    font-style: oblique;
    color: rgb(252, 244, 229);
}
