/* ............HEADER................. */
* {
  margin: 0%;
  padding: 0%;
}
header {
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
  /* width: 100vw; */

header div {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}
header div p {
  color: #7f8489;
}

nav {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
nav a {
  columns: #343434;
  text-decoration: none;
  font-weight: 600;
}

nav button {
  width: 120px;
  height: 30px;
}
.btn {
  background-color: #f47b4e;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.592) rgba(0, 0, 0, 0.592) 0px 4px 4px;
}
/* ................Section Section............... */

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #a9d1dd;
}

.body_fchild {
  width: 70vw;
  display: flex;
  align-items: center;
}

.body_fchild img {
  height: 90vh;
  width: 35vw;
}
.beside {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.beside h1 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
}
.beside b {
  color: #343434;
  line-height: 30px;
  margin: 10px 0px;
}
.beside button {
  height: 40px;
  width: 300px;
}
/* ............FOOTER SECTION............. */

footer {
  display: flex;
  flex-direction: column;
  height: 30vh;
  text-align: center;
  justify-content: center;
  line-height: 25px;
}
footer h3 {
  color: #343434;
  font-weight: bolder;
}

footer small {
  color: #7f8489;
  font-weight: 600;
}
